
CarrotMarket/CarrotMarket.xcodeproj/xcuserdata/duyeong.xcuserdatad/xcschemes/xcschememanagement.plist

CarrotMarket/CarrotMarket.xcodeproj/project.xcworkspace/xcuserdata/duyeong.xcuserdatad/UserInterfaceState.xcuserstate
